[Unit]
Description=System Info service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment="ROCKET_PROFILE=production"
ExecStart=/home/pi/.cargo/bin/system_info_service

[Install]
WantedBy=default.target